In [1]:
#import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np  # used for one hot encofing
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.shape

(12789, 19)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12789 entries, 0 to 12788
Data columns (total 19 columns):
AC          12780 non-null float64
AF          12778 non-null float64
AR          12780 non-null float64
AS          12780 non-null float64
AST         12780 non-null float64
AY          12780 non-null float64
AwayTeam    12782 non-null object
Date        12782 non-null object
FTR         12782 non-null object
HC          12780 non-null float64
HF          12778 non-null float64
HR          12780 non-null float64
HS          12780 non-null float64
HST         12780 non-null float64
HTAG        12779 non-null float64
HTHG        12779 non-null float64
HY          12779 non-null float64
HomeTeam    12782 non-null object
league      12789 non-null object
dtypes: float64(14), object(5)
memory usage: 1.9+ MB

In [5]:
df.isna().sum()

AC           9
AF          11
AR           9
AS           9
AST          9
AY           9
AwayTeam     7
Date         7
FTR          7
HC           9
HF          11
HR           9
HS           9
HST          9
HTAG        10
HTHG        10
HY          10
HomeTeam     7
league       0
dtype: int64

___________

 ####  Null Imputation 
____________

In [6]:
chk=list(df[df['Date'].isna()].index)

In [7]:
df.drop(chk,axis=0,inplace=True)

In [8]:
df.isna().sum()

AC          2
AF          4
AR          2
AS          2
AST         2
AY          2
AwayTeam    0
Date        0
FTR         0
HC          2
HF          4
HR          2
HS          2
HST         2
HTAG        3
HTHG        3
HY          3
HomeTeam    0
league      0
dtype: int64

In [9]:
df.drop(list(df[(df['AF'].isna()) & (df['HC'].isna())].index),axis=0,inplace=True)

In [10]:
df.isna().sum()

AC          0
AF          2
AR          0
AS          0
AST         0
AY          0
AwayTeam    0
Date        0
FTR         0
HC          0
HF          2
HR          0
HS          0
HST         0
HTAG        1
HTHG        1
HY          1
HomeTeam    0
league      0
dtype: int64

In [11]:
df[df['AF'].isna()]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5.0,NaN,0.0,6.0,3.0,3.0,Marseille,18/09/11,H,3.0,NaN,0.0,10.0,5.0,0.0,2.0,0.0,Lyon,ligue-1
5733,1.0,NaN,0.0,9.0,3.0,5.0,Nancy,17/12/11,A,8.0,NaN,0.0,9.0,1.0,1.0,0.0,2.0,Caen,ligue-1

In [12]:
df[df['AwayTeam']=='Marseille']['AF'].median()

15.0

In [13]:
df.loc[5620,'AF']=15

In [14]:
df[df['AF'].isna()]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5733,1.0,NaN,0.0,9.0,3.0,5.0,Nancy,17/12/11,A,8.0,NaN,0.0,9.0,1.0,1.0,0.0,2.0,Caen,ligue-1

In [15]:
df[df['AwayTeam']=='Nancy']['AF'].median()

17.0

In [16]:
df.loc[5733,'AF']=17

In [17]:
df[df['HF'].isna()]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5.0,15.0,0.0,6.0,3.0,3.0,Marseille,18/09/11,H,3.0,NaN,0.0,10.0,5.0,0.0,2.0,0.0,Lyon,ligue-1
5733,1.0,17.0,0.0,9.0,3.0,5.0,Nancy,17/12/11,A,8.0,NaN,0.0,9.0,1.0,1.0,0.0,2.0,Caen,ligue-1

In [18]:
df[df['AwayTeam']=='Marseille']['HF'].median()

15.0

In [19]:
df.loc[5620,'HF']=15

In [20]:
df[df['AwayTeam']=='Nancy']['HF'].median()

14.5

In [21]:
df.loc[5733,'HF']=15

In [22]:
df.isna().sum()

AC          0
AF          0
AR          0
AS          0
AST         0
AY          0
AwayTeam    0
Date        0
FTR         0
HC          0
HF          0
HR          0
HS          0
HST         0
HTAG        1
HTHG        1
HY          1
HomeTeam    0
league      0
dtype: int64

In [23]:
df[df['HTAG'].isna()]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
12426,7.0,21.0,0.0,15.0,5.0,2.0,Pescara,28/08/16,A,2.0,12.0,0.0,13.0,3.0,NaN,NaN,2.0,Sassuolo,serie-a

In [24]:
df[df['HomeTeam']=='Sassuolo']['HTAG'].median()

1.0

In [25]:
df[df['HomeTeam']=='Sassuolo']['HTHG'].median()

1.0

In [26]:
df.loc[12426,'HTAG']=1

In [27]:
df.loc[12426,'HTHG']=1

In [28]:
df[df['HY'].isna()]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
11894,5.0,16.0,0.0,10.0,1.0,5.0,Juventus,02/03/15,D,1.0,11.0,1.0,8.0,3.0,0.0,0.0,NaN,Roma,serie-a

In [29]:
df[df['HomeTeam']=='Roma']['HY'].median()

2.0

In [30]:
df.loc[11894,'HY']=1

In [31]:
df.isna().sum()

AC          0
AF          0
AR          0
AS          0
AST         0
AY          0
AwayTeam    0
Date        0
FTR         0
HC          0
HF          0
HR          0
HS          0
HST         0
HTAG        0
HTHG        0
HY          0
HomeTeam    0
league      0
dtype: int64

_____
####  Exploratory Data Analysis 
____

In [32]:
df.groupby('FTR')['AST','HST','HTAG','HTHG','AS','HS'].mean().round(1)  # Shots analysis

     AST  HST  HTAG  HTHG    AS    HS
FTR
A    5.6  4.1   1.0   0.3  12.7  12.9
D    3.9  4.6   0.4   0.4  11.0  13.8
H    3.5  6.3   0.2   1.1  10.5  14.9

In [33]:
df.groupby('FTR')['AC','HC'].mean().round(1)  # corners analysis - may be significant for Draw

      AC   HC
FTR
A    4.5  5.7
D    4.5  6.0
H    4.5  5.7

In [34]:
df.groupby('FTR')['AF','HF'].mean().round(0)  
# Fouls analysis - not significant for a result but could work with Half time

       AF    HF
FTR
A    14.0  14.0
D    15.0  14.0
H    14.0  14.0

In [35]:
df.groupby('FTR')['AY','HY','AR','HR'].max().round(0) 
# Cards Analysis - cards seem to be less significant for a result

      AY   HY   AR   HR
FTR
A    9.0  7.0  2.0  3.0
D    9.0  8.0  3.0  2.0
H    9.0  8.0  3.0  2.0

In [36]:
pd.crosstab(df['league'],df['FTR'],normalize='index')*100 
# ALL home wins are high in each league and hence less significant as Home shots will be highly correlated

FTR                     A          D          H
league
bundesliga      30.065359  24.883287  45.051354
la-liga         27.556391  23.458647  48.984962
ligue-1         26.852200  27.566754  45.581046
premier-league  27.932331  26.015038  46.052632
serie-a         27.529146  26.363294  46.107559

In [37]:
df['Year']=pd.to_datetime(df.Date)

In [38]:
df.drop('Date',axis=1,inplace=True) 
df['Years']=df.Year.dt.year
df.drop('Year',axis=1,inplace=True)

In [39]:
pd.crosstab(df['Years'],df['FTR'],normalize='index')*100  
# Year Analysis - Every year 50:25:25 win ratio for H:A:D and hence no significnace

FTR            A          D          H
Years
2009   27.816901  24.530516  47.652582
2010   25.327511  27.401747  47.270742
2011   26.952695  26.677668  46.369637
2012   27.920686  25.133976  46.945338
2013   28.235294  26.737968  45.026738
2014   29.259694  27.262045  43.478261
2015   29.956663  25.352113  44.691224
2016   27.428256  24.944812  47.626932
2017   30.061983  22.314050  47.623967

In [40]:
df.head()

,AC,AF,AR,AS,AST,AY,AwayTeam,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league,Years
0,3.0,12.0,0.0,14.0,4.0,0.0,Stuttgart,H,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0,Wolfsburg,bundesliga,2009
1,1.0,10.0,0.0,7.0,0.0,1.0,FC Koln,H,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0,Dortmund,bundesliga,2009
2,3.0,20.0,0.0,15.0,3.0,2.0,Hannover,H,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0,Hertha,bundesliga,2009
3,10.0,28.0,0.0,9.0,3.0,2.0,Bayern Munich,D,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0,Hoffenheim,bundesliga,2009
4,5.0,28.0,0.0,13.0,7.0,2.0,Leverkusen,D,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0,Mainz,bundesliga,2009

In [41]:
df.drop(['AwayTeam','HomeTeam','league','Years'],axis=1,inplace=True)

In [42]:
df.head()

,AC,AF,AR,AS,AST,AY,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY
0,3.0,12.0,0.0,14.0,4.0,0.0,H,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0
1,1.0,10.0,0.0,7.0,0.0,1.0,H,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0
2,3.0,20.0,0.0,15.0,3.0,2.0,H,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0
3,10.0,28.0,0.0,9.0,3.0,2.0,D,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0
4,5.0,28.0,0.0,13.0,7.0,2.0,D,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0

In [43]:
df.reset_index(drop=True).head()

,AC,AF,AR,AS,AST,AY,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY
0,3.0,12.0,0.0,14.0,4.0,0.0,H,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0
1,1.0,10.0,0.0,7.0,0.0,1.0,H,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0
2,3.0,20.0,0.0,15.0,3.0,2.0,H,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0
3,10.0,28.0,0.0,9.0,3.0,2.0,D,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0
4,5.0,28.0,0.0,13.0,7.0,2.0,D,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0

___
####  Split validation set  and Hold out Set 
_____

In [44]:
X=df.loc[0:12000,]
X_hold=df.loc[12001:,]

In [45]:
X.shape

(11994, 15)

In [46]:
X_hold.shape

(786, 15)

In [47]:
y=X['FTR']

In [48]:
y_hold=X_hold['FTR']

In [49]:
X=X.drop(['AR','HR','AC','HC','FTR'],axis=1)

In [50]:
X_hold=X_hold.drop(['AR','HR','AC','HC','FTR'],axis=1)

In [51]:
X_hold.head(2)

         AF    AS  AST   AY    HF    HS  HST  HTAG  HTHG   HY
12001  12.0   8.0  3.0  2.0  13.0  19.0  6.0   1.0   1.0  3.0
12002  20.0  11.0  3.0  4.0  14.0   6.0  5.0   1.0   2.0  2.0

______
#### Scaling 
______

In [52]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
scx=StandardScaler()
X=scx.fit_transform(X)
X_hold=scx.transform(X_hold)

_______
#### Hyper Parameters Tuning
________

#### Grid Search KNN - Fit

In [53]:
# KNN Grid Search
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
k_range=list(range(1,31))
param_grid=dict(n_neighbors=k_range,)
grid=GridSearchCV(knn,param_grid,cv=10,scoring='accuracy')
grid.fit(X,y)
print(grid.best_score_)
print(grid.best_params_)
from sklearn.metrics import classification_report, confusion_matrix
print(grid.best_estimator_)

0.6361476925215457
{'n_neighbors': 26}
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=26, p=2,
                     weights='uniform')

#### Grid Search KNN - Hold out prediction

In [54]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred = grid.predict(X_hold) 
print(accuracy_score(y_hold, pred))

0.6450381679389313

#### Grid Search Decision Tree - Fit

In [56]:
# Decision Tree Grid Search
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
max_depth1=list(range(1,21))
param_grid1=dict(max_depth=max_depth1)
grid1=GridSearchCV(dtree,param_grid1,cv=10,scoring='accuracy')
grid1.fit(X,y)
print(grid1.best_score_)
print(grid1.best_params_)
print(grid1.best_estimator_)

0.6422352654990269
{'max_depth': 6}
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

#### Grid Search Decision Tree - Hold Out Prediction

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred1 = grid1.predict(X_hold) 
print(accuracy_score(y_hold, pred1))

#### Grid Search Random Forest  - Fit

In [58]:
# Random Forest Grid Search
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=10)
#n_est2=list(range(10,10,1))
max_depth2=list(range(1,7))
param_grid2=dict(max_depth=max_depth2)
grid2=GridSearchCV(rf,param_grid2,cv=10,scoring='accuracy')
grid2.fit(X,y)
print(grid2.best_score_)
print(grid2.best_estimator_)
print(grid2.best_params_)

0.646403113705866
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=6, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
{'max_depth': 6}

#### Grid Search Random Forest - Hold Out Prediction

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred2 = grid2.predict(X_hold) 
print(accuracy_score(y_hold, pred2))

_____
#### Boosting 
_____

#### Grid Search AdaBoost Classifier - Decision Tree as base estimator

In [ ]:
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
clf3 = AdaBoostClassifier()
n_est3=list(range(10,100,10))
param_grid3=dict(n_estimators=n_est3)
grid3=GridSearchCV(clf3,param_grid3,cv=10,scoring='accuracy')
grid3.fit(X,y)
print(grid3.best_score_)
print(grid3.best_params_)
print(grid3.best_estimator_)

####                Prediction

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred3 = grid3.predict(X_hold) 
print(accuracy_score(y_hold, pred3))

#### Grid Search AdaBoost Classifier - Random Forest as base estimator

In [ ]:
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
clf5 = AdaBoostClassifier(algorithm='SAMME',base_estimator=RandomForestClassifier())
n_est5=list(range(10,100,10))
param_grid5=dict(n_estimators=n_est5)
grid5=GridSearchCV(clf5,param_grid5,cv=10,scoring='accuracy')
grid5.fit(X,y)
print(grid5.best_score_)
print(grid5.best_params_)
print(grid5.best_estimator_)

####                Prediction

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred5 = grid5.predict(X_hold) 
print(accuracy_score(y_hold, pred5))

#### Grid Search XGBoost

In [ ]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import cross_val_score
from xgboost import XGBClassifier
clf6 = XGBClassifier(n_estimators=60)
#n_est6=list(range(10,100,10))
max_depth6=list(range(1,7))
param_grid6=dict(max_depth=max_depth6)
grid6=GridSearchCV(clf6,param_grid6,cv=10,scoring='accuracy')
grid6.fit(X,y)
print(grid6.best_score_)
print(grid6.best_params_)
print(grid6.best_estimator_)

####                Prediction

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred6 = grid6.predict(X_hold) 
print(accuracy_score(y_hold, pred6))

_________
####                Conclusion
_________
##### Adaboost with decision tree found to provide more accuracy followed by XGBoost